.container
  .task_title
    %h2= @task.title
    - if @task.user == current_user
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content
          = link_to 'Edit', edit_board_task_path(@board, @task)
          = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  - if @task.eyecatch.attached?
    .task_eyecatch
      = image_tag @task.eyecatch
  .task_content
    = @task.description
  .comment_title
    %h2 Comments
  - @comments.each do |comment|
    .comment
      .comment_detail
        = image_tag comment.user.avatar_image
      .comment_content
        = comment.content
  = link_to '＋Add new comment', new_task_comment_path(@task), class: 'card_add'
    