.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_name
          = board.title
        .card_description
          = board.description
        .card_bottom
          .card_detail
            = image_tag board.user.avatar_image
            %div
              %p= board.author_name
              %p= board.display_created_at
          .card_message
            %p #{board.tasks.count} tasks
  = link_to '＋Add new board', new_board_path, class: 'card_add'
