.container
  %h2.heading All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_content
          .card_title
            = board.title
          - if user_signed_in? && current_user.has_made?(board)
            .card_detail_actions
              .dropdown
                = image_tag 'actions.svg', class: 'dropbtn'
                .dropdown-content.mini
                  = link_to 'Edit', edit_board_path(board)
                  = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
        .board_description
          = board.description
  = link_to '＋Add new board', new_board_path, class: 'new_board'
